<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title id="title"></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="pong.css">
	<script src="resources/webgl-utils.js"></script>
	<script src="resources/webgl-debug.js"></script>
	<script src="resources/cuon-utils.js"></script>
	<script src="resources/require.js"></script>
	<scirpt src="resources/WebGlInit.js"></script>
	<script src="app.js"></script>
	<script data-main="app" src="resources/require.js"></script>

	<script id="vertexShader" type="x-shader/x-vertex">
		attribute vec4 a_Position;
		
		void main() 
		{
		  gl_Position = a_Position;
		}
		</script>
		
		<script id="fragmentShader" type="x-shader/x-fragment">
		// In a webgl fragment shader, float precision has to be specified before
		// any other variable declarations (in this case, "medium" precision)
		precision mediump float;
		uniform vec4 u_Color;
		void main() 
		{
			gl_FragColor = vec4(0.8,1.0,0.8,1.0);
		}
	</script>
</head>

<body> 

	<div id="gameContainer">
		<div class="row" id="scoreBoard">
			<div class="col-sm-4">
				
				<p id="nameLeft"></p>
				<p>:</p>
				<p id="scoreLeft"></p>
				
			</div>
			<div class="col-sm-4 title float-center">
				<p>PONG</p>
			</div>
					
			<div class="col-sm-4 float-right">
				
				<p id="nameRight"></p>
				<p>:</p>
				<p id="scoreRight"></p>
				
			</div>
		</div>
		<canvas id="theCanvas" width="1000" height="500">
			Please use a browser that supports "canvas"
		</canvas>
	</div>
	

	<!-- Name Modal -->
	<div id="nameModal" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-body">
					<label for="nameInput" class="lb-lg label label-default">Name</label>
					<input type="text" id="nameInput" name="nameInput"></input>
					<h3 id="instructions">W is Up --- S is Down</h3>
					<h3 id="msgDisplay"></h3>
				</div>
			</div>
		</div>
	</div>

	<!-- End Game Modal -->
	<div id="endGameModal" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-body">
					<h1 id="result"></h1>
					<button class="btn btn-default" id="playAgainBtn">Play Again?</button>
					<h2 id="playAgainWait">Waiting For Other Player</h2>
				</div>
			</div>
		</div>
	</div>


		
</body>
</html>